footer {
    background-color: red;
    display: flex;
    align-items: center;
    height: 300px;
    justify-content: center;
    background-image: url('../images/willow-catkin-gfc8ccdfb9_640.jpg');
}